<header class="container-fluid">
		<div class="row">
			<div class="col-xs-2 col-md-6"></div>
			<div class="col-xs-10 col-md-6">
				<form class="new_visit_form">
					<div class="form_content">
						<div class="form_header_content">
							<div class="form_header">
								<span class="line_below">
									Umów się na wizytę
								</span>
							</div>
							<div class="line"></div>
						</div>
						<span class="line_below select_type">
							Specjalizacja
						</span>
						<div class="select_arrow">Kardiologia</div>
						<div class="line"></div>
						<span class="line_below select_type">
							Lekarz
						</span>
						<div class="select_arrow">Rozwiń listę</div>
						<div class="line"></div>
						<span class="line_below select_type">
							Termin wizyty
						</span>
						<div class="select_arrow">01.01.2015 - 9:00</div>
						<div class="line"></div>
						<div class="confirm_content">
							<span class="line_below confirm">
								Dalej
							</span>
							<div class="line"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</header>


	<div class="container first">
		<div class="row">
			<div class="col-xs-12 section_header">
				O NAS
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 section_header_line"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 section_box">
				<div class="box">
					<div class="box_header">
						Wyspecjalizowana kadra
					</div>
					<div class="box_content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla urna, 
volutpat vitae enim sed, accumsan egestas magna. Phasellus scelerisque, velit 
quis dapibus viverra, urna turpis pretium tellus, a bibendum nunc ligula sit amet 
mi. Fusce pellentesque fringilla mi in commodo. 
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 section_box">
				<div class="box">
					<div class="box_header">
						Nowoczesne wyposażenie
					</div>
					<div class="box_content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla urna, 
volutpat vitae enim sed, accumsan egestas magna. Phasellus scelerisque, velit 
quis dapibus viverra, urna turpis pretium tellus, a bibendum nunc ligula sit amet 
mi. Fusce pellentesque fringilla mi in commodo. 
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 section_box">
				<div class="box">
					<div class="box_header">
						Współpraca z NFZ
					</div>
					<div class="box_content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla urna, 
volutpat vitae enim sed, accumsan egestas magna. Phasellus scelerisque, velit 
quis dapibus viverra, urna turpis pretium tellus, a bibendum nunc ligula sit amet 
mi. Fusce pellentesque fringilla mi in commodo. 
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 section_box">
				<div class="box">
					<div class="box_header">
						Profesjonalna pomoc
					</div>
					<div class="box_content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla urna, 
volutpat vitae enim sed, accumsan egestas magna. Phasellus scelerisque, velit 
quis dapibus viverra, urna turpis pretium tellus, a bibendum nunc ligula sit amet 
mi. Fusce pellentesque fringilla mi in commodo. 
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="container second">
		<div class="row">
			<div class="col-xs-12 section_header">
				Wyposażenie
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 section_header_line"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 additional_section_text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Duis lorem mi, faucibus ut massa a, congue condimentum lorem. 
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Duis lorem mi, faucibus ut massa a, congue condimentum lorem. 
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Duis lorem mi, faucibus ut massa a, congue condimentum lorem. 				
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Suspendisse potenti. Mauris quis lacus quis ipsum auctor rutrum. 				
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Praesent facilisis sapien magna, luctus accumsan tortor lacinia quis. 				
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Maecenas at ullamcorper est, aliquet mattis dui.
			</div>
			<div class="col-xs-12 list_item">
				<img src="images/arrow_list.png">
				Quisque nulla dui, pulvinar vitae nisl non, efficitur molestie dui.				
			</div>
		</div>
	</div>

	<div class="container-fluid third">
		<div class="row">
			<div class="col-xs-12 section_header">
				Kadra
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 section_header_line_w_b_margin"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 team">
				<div class="team_context">
					<div class="team_text">
						Lorem ipsum sit amet, consectetur adipiscing elit.
					</div>
					<button class="team_button" href="#">
						Zobacz listę specjalistów
					</button>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<image src="images/map.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="contact_header">
						Kontakt
					</div>
					<div class="contact_details">
						Lorem ipsum <br>
						ul. Strzeszyńska 34 <br>
						60-876, Poznań <br>
						+48 604 123 512 <br>
						przychodnia@przychodnia.pl
					</div>
				</div>
			</div>
		<div>
	</footer>