<div ng-controller="PanelController">
	<div ng-if="role=='superAdmin' || role=='admin'" ng-controller="NewDoctorController">
		<div class="new_user_header">
			<div class="container">
				<div class="col-xs-12">
					Dodawanie nowego lekarza
				</div>
			</div>
		</div>
		<div class="new_user_form">
			<div class="container">
				<div class="col-xs-12">
					Pesel: <input type="text" ng-model="user.pesel" /><br />	
				</div>
				<div class="col-xs-12">
					E-mail: <input type="email" ng-model="user.email" /><br />	
				</div>
				<div class="col-xs-12">
					Hasło: <input type="text" ng-model="user.password" /><br />	
				</div>
				<div class="col-xs-12">
					Imię: <input type="text" ng-model="user.first_name" /><br />	
				</div>
				<div class="col-xs-12 last_line">
					Nazwisko: <input type="text" ng-model="user.last_name" /><br />	
				</div>
			</div>
		</div>
		<div class="new_user_submit">
			<input type="submit" ng-click="addUser(user)" value="Dodaj" />
		</div>
	</div>
</div>



